# OS
.DS_Store
desktop.ini
Thumbs.db

# IDEs
.vscode/
.idea/
.pycharm/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env/
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
.mypy_cache/

# Databases / Data
test.db
*.sqlite3

# Logs / Storage
storage/
logs/
*.log

# Secrets
.env
.env.*
!.env.example
*.json
!*.example.json
